.car-list {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    gap: 1rem;
}

/* Responsivitas untuk Daftar Mobil */
@media screen and (max-width: 768px) {
    .car-list {
      grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
    }
  }